{% extends 'partials/base.html' %}
{% block content %}
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-4">
            <div class="card shadow my-3">
                <div class="card-body">
                    <h3>
                        form
                    </h3>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card shadow my-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="" alt="img">
                        </div>
                        <div class="col-md-8">
                            <small>20th June 2024</small>
                            <hr>
                            <a class="h3" href="">First Post</a>
                            <p class="text-justify my-3">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut unde incidunt architecto dolore culpa laborum praesentium? Quidem, expedita asperiores voluptatibus in explicabo vero magni pariatur hic libero quasi rem delectus.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow my-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="" alt="img">
                        </div>
                        <div class="col-md-8">
                            <small>20th June 2024</small>
                            <hr>
                            <a class="h3" href="">First Post</a>
                            <p class="text-justify my-3">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut unde incidunt architecto dolore culpa laborum praesentium? Quidem, expedita asperiores voluptatibus in explicabo vero magni pariatur hic libero quasi rem delectus.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow my-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="" alt="img">
                        </div>
                        <div class="col-md-8">
                            <small>20th June 2024</small>
                            <hr>
                            <a class="h3" href="">First Post</a>
                            <p class="text-justify my-3">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut unde incidunt architecto dolore culpa laborum praesentium? Quidem, expedita asperiores voluptatibus in explicabo vero magni pariatur hic libero quasi rem delectus.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </class>
</div>
{% endblock %}