.cover {
    background: url('static/images/background.jpg')
}

main, #alerts {
     margin-top: 10em;
}

.navbar-toggler {
    margin-left: auto;
}

* {
    background-color: black;
    outline: lime;
    border: 1px solid red;
}