{% extends 'partials/base.html' %}
{% block title %}Password Reset Done Page{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row mt-5 pt-3">
            <div class="col-md-8 offset-md-2">
                <div class="card shadow my-3">
                    <div class="card-body">
                        <h3>Password Reset Done Page</h3>
                        <hr>
                        <div class="alert alert-info">
                            A mail will instructions to reset password has been sent to the email you provided.
                        </div>
                        <form method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input class="btn btn-primary btn-block" type="submit" value="Reset Password Done">
                        </form>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}